<app-header></app-header>
<main class="main">
  <div class="content">
    <div class="wrapper">
      <div class="left-panel">
        <span class="humanas">CIÊNCIAS HUMANAS</span>
        <button class="submit-button">Começar</button>
      </div>
      <img src="assets/images/users.png" alt="users-img" />
    </div>
  </div>
  <div class="middle-letters">
    <p>Prova com 10 questões gerais sobre a matéria de ciências humanas.</p>
    <p>O que são as Ciências Humanas?</p>
    <p>
      A área das Ciências Humanas é o conjunto de ciências que tem como objeto
      de estudo o ser humano. Entre as ciências da área de humanas, estão a
      Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras,
      Teologia, Antropologia, Comunicação Social, Psicologia, Linguística,
      Artes, entre outras.
    </p>
  </div>
  <form>
    <h5>Cadastro</h5>
    <input placeholder="Nome 15" />
    <input placeholder="Email" />
    <input placeholder="Senha" />
    <a href="#">Já tem uma conta?</a>
    <button class="submit-button">Concluir</button>
  </form>
</main>
<app-footer></app-footer>

<router-outlet />
